In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range("20230719",periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list("ABCD"))

In [3]:
# Print the dataframe
print(df)

                   A         B         C         D
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-20  1.135902 -1.142136  0.033092  0.584791
2023-07-21  1.647055  0.065950 -0.956059  0.704660
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-24  0.175393  0.837574 -1.316930  1.152457

In [39]:
# Describe the dataframe - shows count, mean, std, min, max values for numerical data
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.893450  0.188470 -0.464740 -0.641092
std    0.698840  1.295406  0.387622  0.891758
min   -1.774427 -1.564220 -0.895297 -1.519081
25%   -1.481657 -0.771990 -0.770142 -1.328226
50%   -0.761597  0.447909 -0.477730 -0.786480
75%   -0.367979  1.220734 -0.164744 -0.258067
max   -0.104629  1.499499 -0.009654  0.836223

In [51]:
# Displays information about the dataframe - index, columns, their datatypes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2023-07-19 to 2023-07-24
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes
None

In [53]:
# Display the top n rows of the dataframe
print(df.head(2))

                   A         B         C         D
2023-07-19 -0.419142 -0.638655  0.375973  0.088315
2023-07-20  0.895699  1.011468  0.568292 -0.209315

In [55]:
# Display the last n rows of the dataframe
print(df.tail(2))

                   A         B         C         D
2023-07-23  0.307311 -0.343896 -0.147379 -1.260732
2023-07-24  0.219200  0.024178  1.063994 -0.025955

In [43]:
# Access dataframe by label - single value and slice
print(df.loc["2023-07-19":, "A":"C"])
print(df.at["2023-07-19", "C"])
df.get(["A","B"])

                   A         B         C
2023-07-19  0.682827 -0.730617 -0.476857
2023-07-20 -0.372170 -0.137440  0.322904
2023-07-21  0.407933 -1.075668 -0.689897
2023-07-22  0.326363 -0.388607 -1.386280
2023-07-23 -0.418049  0.791698 -1.570367
2023-07-24 -0.719027 -0.247697  1.421375
-0.4768571129841587

                   A         B
2023-07-19  0.682827 -0.730617
2023-07-20 -0.372170 -0.137440
2023-07-21  0.407933 -1.075668
2023-07-22  0.326363 -0.388607
2023-07-23 -0.418049  0.791698
2023-07-24 -0.719027 -0.247697

In [64]:
# Access dataframe by location - single value and slice
print(df.iloc[1:,1:3])
print(df.iat[1,2])

                   B         C
2023-07-20  1.011468  0.568292
2023-07-21  2.307566 -1.588165
2023-07-22 -0.452882  0.145852
2023-07-23 -0.343896 -0.147379
2023-07-24  0.024178  1.063994
0.5682918679092918

In [6]:
# Boolean indexing
print(df[df["A"] > 0])

                   A         B         C         D
2023-07-22  1.298161  0.962459 -0.243521  1.361970
2023-07-23  0.127516  0.419395 -0.234849 -0.518253

In [12]:
# Fill NaN values with a filler
df.iat[0,0] = np.nan
df.fillna(value=4.5)

                   A         B         C         D
2023-07-19  4.500000  0.490573 -0.277719  1.604353
2023-07-20 -1.298206  1.159571  0.837443  0.397050
2023-07-21 -0.687767 -0.721275 -0.628443 -0.041859
2023-07-22  1.298161  0.962459 -0.243521  1.361970
2023-07-23  0.127516  0.419395 -0.234849 -0.518253
2023-07-24 -0.006577 -0.042533 -1.818383  0.345533

In [18]:
# Drop the rows consisting of empty rows
df.at["2023-07-19", "A"] = np.nan
df.dropna(how="any", inplace=True)
print(df)

                   A         B         C         D
2023-07-20 -1.298206  1.159571  0.837443  0.397050
2023-07-21 -0.687767 -0.721275 -0.628443 -0.041859
2023-07-22  1.298161  0.962459 -0.243521  1.361970
2023-07-23  0.127516  0.419395 -0.234849 -0.518253
2023-07-24 -0.006577 -0.042533 -1.818383  0.345533

In [4]:
# N largest and smallest rows
print(df.nlargest(2, 'C', keep="all"))
print(df.nsmallest(2, 'A', keep="first"))

                   A         B         C         D
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
                   A         B         C         D
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-22 -0.289029 -0.156748  0.411044  1.242165

In [21]:
# Get a sample of the data
print(df.sample(frac=0.2))
print(df.sample(n=2))

                   A         B         C         D
2023-07-24 -0.006577 -0.042533 -1.818383  0.345533
                   A         B         C         D
2023-07-23  0.127516  0.419395 -0.234849 -0.518253
2023-07-21 -0.687767 -0.721275 -0.628443 -0.041859

In [23]:
# Select multiple columns
print(df[["A","B"]])

                   A         B
2023-07-20 -1.298206  1.159571
2023-07-21 -0.687767 -0.721275
2023-07-22  1.298161  0.962459
2023-07-23  0.127516  0.419395
2023-07-24 -0.006577 -0.042533

In [29]:
# Method chaining -
print(df[df["A"] >0].isna())

                A      B      C      D
2023-07-22  False  False  False  False
2023-07-23  False  False  False  False

In [34]:
# Drop duplicates
dupe_df = pd.concat([df, df])
print(dupe_df.drop_duplicates(keep="last"))

                   A         B         C         D
2023-07-20 -1.298206  1.159571  0.837443  0.397050
2023-07-21 -0.687767 -0.721275 -0.628443 -0.041859
2023-07-22  1.298161  0.962459 -0.243521  1.361970
2023-07-23  0.127516  0.419395 -0.234849 -0.518253
2023-07-24 -0.006577 -0.042533 -1.818383  0.345533

In [8]:
# Sorting values
print(df.sort_values(['A', 'B'], ascending=False))

                   A         B         C         D
2023-07-21  1.084578  0.703158  0.532485  0.620870
2023-07-22  0.126723  0.429683 -0.592764 -0.748332
2023-07-20  0.093755 -0.488334 -0.740393  0.449058
2023-07-23 -0.773718 -1.172355  0.153394  0.126488
2023-07-24 -1.409514 -0.233296  0.811088  1.180060
2023-07-19 -2.282732  0.009799  0.922575  0.775262

In [15]:
# Rename columns
df1 = df.copy(deep=True)
df1.rename(columns={"A":"a"})

                   a         B         C         D
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-20  1.135902 -1.142136  0.033092  0.584791
2023-07-21  1.647055  0.065950 -0.956059  0.704660
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-24  0.175393  0.837574 -1.316930  1.152457

In [16]:
# Sort, reset index
df1.sort_index(ascending=False)
df1 = df1.reset_index()

In [27]:
# Drop columns
df1.drop(columns=["A"])

                   B         C         D
2023-07-19  0.009799  0.922575  0.775262
2023-07-20 -0.488334 -0.740393  0.449058
2023-07-21  0.703158  0.532485  0.620870
2023-07-22  0.429683 -0.592764 -0.748332
2023-07-23 -1.172355  0.153394  0.126488
2023-07-24 -0.233296  0.811088  1.180060

In [30]:
# Filter values based on conditions
df.loc[(df["D"] > 0.5) & (df["A"] < 0)]
df.loc[(df["D"] < 0) | (df["A"] > 0)]
df1.loc[df1["B"] < 0]

       index         A         B         C         D
0 2023-07-19  0.682827 -0.730617 -0.476857 -0.865903
1 2023-07-20 -0.372170 -0.137440  0.322904 -0.244547
2 2023-07-21  0.407933 -1.075668 -0.689897  1.451286
3 2023-07-22  0.326363 -0.388607 -1.386280  0.327189
5 2023-07-24 -0.719027 -0.247697  1.421375 -0.389758

In [11]:
# Summarize data
df.value_counts()
df["D"].value_counts()
df["D"].nunique()
df["D"].min()
df["A"].max()
df
# std(), mean(), var(), count()

                   A         B         C         D
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-20  1.135902 -1.142136  0.033092  0.584791
2023-07-21  1.647055  0.065950 -0.956059  0.704660
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-24  0.175393  0.837574 -1.316930  1.152457

In [17]:
# Combine data sets
df1
df2 = pd.DataFrame(np.random.randn(6,4), columns=list("ABCD"))
df3 = pd.merge(df1, df2, how="outer")
print(df3)

        index         A         B         C         D
0  2023-07-19 -0.401465  1.672891 -0.311339  0.978234
1  2023-07-20  1.135902 -1.142136  0.033092  0.584791
2  2023-07-21  1.647055  0.065950 -0.956059  0.704660
3  2023-07-22 -0.289029 -0.156748  0.411044  1.242165
4  2023-07-23  0.673453 -0.717918  1.805220 -0.297536
5  2023-07-24  0.175393  0.837574 -1.316930  1.152457
6         NaT  0.501872  0.291093  0.336946 -0.385941
7         NaT -1.370868  0.272990 -0.625775 -1.718563
8         NaT  0.184712  0.186234  1.358381 -0.726203
9         NaT -1.866610  0.184266 -0.335768  0.344445
10        NaT -0.967740  1.038067  1.311491 -1.497296
11        NaT -1.739335  1.462311 -0.127627  1.055083

In [21]:
# Apply functions
df.apply(lambda x:x**2)

                   A         B         C         D
2023-07-19  0.466252  0.533801  0.227393  0.749788
2023-07-20  0.138511  0.018890  0.104267  0.059803
2023-07-21  0.166409  1.157062  0.475958  2.106232
2023-07-22  0.106513  0.151016  1.921772  0.107053
2023-07-23  0.174765  0.626786  2.466051  0.385382
2023-07-24  0.517000  0.061354  2.020305  0.151912

In [36]:
df.applymap(lambda x:x**2)

                   A         B
2023-07-19  0.374999  0.843201
2023-07-20  0.075238  0.076100
2023-07-21  1.681890  0.301215
2023-07-22  0.834827  0.012108
2023-07-23  0.001732  1.027474
2023-07-24  0.036646  0.244480

In [35]:
# Iteration methods
for name, series in df.iterrows():
    print("Row: {}".format(name) + "\n"+ "Series: {}".format(series))

Row: 2023-07-19 00:00:00
Series: A    0.682827
B   -0.730617
C   -0.476857
D   -0.865903
Name: 2023-07-19 00:00:00, dtype: float64
Row: 2023-07-20 00:00:00
Series: A   -0.372170
B   -0.137440
C    0.322904
D   -0.244547
Name: 2023-07-20 00:00:00, dtype: float64
Row: 2023-07-21 00:00:00
Series: A    0.407933
B   -1.075668
C   -0.689897
D    1.451286
Name: 2023-07-21 00:00:00, dtype: float64
Row: 2023-07-22 00:00:00
Series: A    0.326363
B   -0.388607
C   -1.386280
D    0.327189
Name: 2023-07-22 00:00:00, dtype: float64
Row: 2023-07-23 00:00:00
Series: A   -0.418049
B    0.791698
C   -1.570367
D    0.620792
Name: 2023-07-23 00:00:00, dtype: float64
Row: 2023-07-24 00:00:00
Series: A   -0.719027
B   -0.247697
C    1.421375
D   -0.389758
Name: 2023-07-24 00:00:00, dtype: float64

In [35]:
# Maths methods
df["A"].min()
df.min()
df["A"].max()
df.max()
df.mean()
df.count()
df.median()
df.mean()
df.sum()
df.where(df["A"] > 0.05, other="-")

                   A         B
2023-07-19         -         -
2023-07-20  0.274296  0.275862
2023-07-21         -         -
2023-07-22  0.913689 -0.110037
2023-07-23         -         -
2023-07-24  0.191431  0.494449

In [34]:
# Dataframe non indexing attributes
df.T # transpose rows and cols

   2023-07-19  2023-07-20  2023-07-21  2023-07-22  2023-07-23  2023-07-24
A   -0.612372    0.274296   -1.296877    0.913689   -0.041621    0.191431
B    0.918260    0.275862    0.548831   -0.110037   -1.013644    0.494449

In [11]:
df.axes # list row and col indexes

[DatetimeIndex(['2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22',
                '2023-07-23', '2023-07-24'],
               dtype='datetime64[ns]', freq='D'),
 Index(['A', 'B', 'C', 'D'], dtype='object')]

In [12]:
df.dtypes # display data types of columns

A    float64
B    float64
C    float64
D    float64
dtype: object

In [14]:
df.values # Get a numpy array for the dataframe

array([[-0.61237163,  0.91825954, -0.45476476,  0.23168532],
       [ 0.27429629,  0.27586241, -0.24734281, -0.23922906],
       [-1.29687719,  0.54883098,  0.15446209, -0.48155948],
       [ 0.91368884, -0.11003713, -0.04049803, -0.54867328],
       [-0.04162127, -1.01364416, -2.11779864,  0.54070208],
       [ 0.1914306 ,  0.49444903, -1.04700054,  0.29527195]])

In [42]:
# Select/ filter rows/ cols based on index label values
df.filter(items=["A", "B","C","D"])

                   A         B         C         D
2023-07-19 -1.637904 -1.165212 -0.770145 -1.408509
2023-07-20 -0.510276  1.499499 -0.895297 -0.485583
2023-07-21 -1.774427  0.407676 -0.185326 -1.519081
2023-07-22 -0.320547  0.488142 -0.009654 -0.182228
2023-07-23 -1.012918 -1.564220 -0.770134 -1.087376
2023-07-24 -0.104629  1.464931 -0.157883  0.836223

In [40]:
df.filter(items=["2023-07-19"], axis=0)

                   A         B         C         D
2023-07-19 -1.637904 -1.165212 -0.770145 -1.408509

In [49]:
# Working with columns
df.columns
df.columns.tolist()
df.columns.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [20]:
# Rename columns
df.columns = ["a","b","c","d"]
df.rename(columns={"A":"a"})

                   a         b         c         d
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-20  1.135902 -1.142136  0.033092  0.584791
2023-07-21  1.647055  0.065950 -0.956059  0.704660
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-24  0.175393  0.837574 -1.316930  1.152457

In [21]:
# Selecting columns
new_df = df.copy(deep=True)
df["a"] # Series
df[["a"]] # dataframe
df.filter(items=["b","a"])
df[["a", "c","b"]] # Change order of rows
df["range"] = range(len(df))
new_df[["b","a"]] = new_df[["a","b"]]
new_df

                   a         b         c         d
2023-07-19  1.672891 -0.401465 -0.311339  0.978234
2023-07-20 -1.142136  1.135902  0.033092  0.584791
2023-07-21  0.065950  1.647055 -0.956059  0.704660
2023-07-22 -0.156748 -0.289029  0.411044  1.242165
2023-07-23 -0.717918  0.673453  1.805220 -0.297536
2023-07-24  0.837574  0.175393 -1.316930  1.152457

In [22]:
# Deleting columns
df.drop('range',axis=1)

                   a         b         c         d
2023-07-19 -0.401465  1.672891 -0.311339  0.978234
2023-07-20  1.135902 -1.142136  0.033092  0.584791
2023-07-21  1.647055  0.065950 -0.956059  0.704660
2023-07-22 -0.289029 -0.156748  0.411044  1.242165
2023-07-23  0.673453 -0.717918  1.805220 -0.297536
2023-07-24  0.175393  0.837574 -1.316930  1.152457

In [23]:
# Data type conversions
df['a'].astype(str)

2023-07-19     -0.4014652168759255
2023-07-20       1.135902024448742
2023-07-21      1.6470550494464276
2023-07-22    -0.28902867391180437
2023-07-23      0.6734528475574839
2023-07-24     0.17539333248551753
Freq: D, Name: a, dtype: object

In [24]:
df['a'].values

array([-0.40146522,  1.13590202,  1.64705505, -0.28902867,  0.67345285,
        0.17539333])

In [26]:
df['a'].tolist()

[-0.4014652168759255,
 1.135902024448742,
 1.6470550494464276,
 -0.28902867391180437,
 0.6734528475574839,
 0.17539333248551753]

In [28]:
# Find index label for min, max values in a column
df['a'].idxmin()
df['b'].idxmax()

Timestamp('2023-07-19 00:00:00')

In [30]:
# Mixed label and integer position indexing
df.columns, df.index

(Index(['a', 'b', 'c', 'd', 'range'], dtype='object'),
 DatetimeIndex(['2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22',
                '2023-07-23', '2023-07-24'],
               dtype='datetime64[ns]', freq='D'))

In [33]:
df.get_value('2023-07-20', 'c')

AttributeError: 'DataFrame' object has no attribute 'get_value'